<div class="col-sm-12">
	<ol class="breadcrumb">
	  <li><a routerLink="">Проекты</a></li>
	  <li><a [routerLink]="['/project', projectId]">{{ projectName }}</a></li>
	  <li>{{ meetingName }}</li>
	</ol>
</div>


<div class="col-sm-12" *ngIf="app.development() && !clickSave && view">


	<div class="panel panel-primary" *ngIf="!userProject[0]">
		<div class="panel-body">
			Чтобы добавить участника ко встрече, он должен быть участником проекта.
		</div>
	</div>


	<div class="form-group" *ngIf="userProject[0]">
		<label class="form-inline">
			<select class="form-control" [(ngModel)]="meetingUser">
				<option *ngFor="let user of userProject" selected [ngValue]="user">
					{{ user.name }}
				</option>
			</select>
			<button class="btn btn-primary" (click)="createMeetingUser()">
				Добавить участника ко встрече
			</button>
		</label>
	</div>

</div>


<div class="col-sm-12" *ngIf="view">

	<div class="panel panel-primary" *ngIf="meetingUsers[0]">

		<div class="panel-heading">
			Участники
		</div>

		<div class="table table-hover">

		  		<tr class="col-sm-9" *ngFor="let user of meetingUsers">
		  			<td>{{ user.name }}</td>
		  			<td>
					    <span class="badge" *ngIf="clickSave && !user.vote">Пока не одобрил</span>
					    <span class="badge" *ngIf="clickSave && user.vote">Одобрил</span>
					</td>
					<td>
						<a class="btn btn-danger btn-sm" *ngIf="app.development()" (click)="deleteMeetingUser(user.id)">Убрать участника из встречи</a>
					</td>
				</tr>

		</div>

		<div class="panel-footer" *ngIf="clickSave && !voteStatus">
			Проголосуйте. Вы можете изменить отчёт нажав "Отклонить".<br>
		    	<a class="btn btn-success btn-sm" (click)="confirmReport()">
		    		Одобрить
		    	</a>
		    	<a class="btn btn-danger btn-sm" (click)="rejectReport()">
		    		Отклонить
		    	</a>
		</div>

		<div class="panel-footer" *ngIf="clickSave && voteStatus">
			 Вы одобрили отчёт встречи.
		</div>

	</div>


	<div class="panel panel-primary" *ngIf="app.development() && clickSave && !meetingUsers[0]">
		<div class="panel-body" *ngIf="clickSave && !voteStatus">
			Проголосуйте. Вы можете изменить отчёт нажав "Отклонить".<br>
	    	<a class="btn btn-success btn-sm" (click)="confirmReport()">
	    		Подтвердить
	    	</a>
	    	<a class="btn btn-danger btn-sm" (click)="rejectReport()">
	    		Отклонить
	    	</a>
	    </div>

	    <div class="panel-body" *ngIf="clickSave && voteStatus">
			 Вы одобрили отчёт встречи.
		</div>

	</div>

</div>


<div class="col-sm-6" *ngIf="view">
	<div class="panel panel-default">
	  <div class="panel-heading">План до встречи</div>
		<div class="panel-body">
		    <div class="form-group">
			  <textarea class="form-control" rows="7" id="planBefore" [(ngModel)]="planBefore">{{ planBefore }}</textarea>
			</div>
			<button class="btn btn-info" (click)="updatePlanBefore()">Сохранить</button>
		</div>
	</div>
</div>


<div class="col-sm-6" *ngIf="view">
	<div class="panel panel-default">
	  <div class="panel-heading">План после встречи</div>
		<div class="panel-body">
		   <div class="form-group">
			  <textarea class="form-control" rows="7" id="planAfter" [(ngModel)]="planAfter">{{ planAfter }}</textarea>
			</div>
			<button class="btn btn-info" (click)="updatePlanAfter()">Сохранить</button>
		</div>
	</div>
</div>


<div class="col-sm-12">

	<div class="panel panel-warning" *ngIf="view">
	    <div class="panel-heading">Таски встречи</div>
		<div class="panel-body">
			<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			    <div class="form-group">
				  <label>Таск:</label>
				  <input type="text" class="form-control" name="content" ngModel>
				</div>
				<button class="btn btn-warning" type="submit">Добавить</button>
			</form>
		</div>
		<div class="panel-footer">
			<app-meeting-task *ngFor="let meetingTask of meetingTasks" [meetingTask]="meetingTask"></app-meeting-task>
		</div>
	</div>


	<div class="panel panel-primary">
	  <div class="panel-heading">Отчёт встречи</div>
		<div class="panel-body">
		   <div class="form-group">
			  <textarea class="form-control" rows="7" id="meetingReport" required [(ngModel)]="meetingReport">{{ meetingReport }}</textarea>
			</div>
			<button class="btn btn-danger" (click)="updateReport()" *ngIf="!clickSave && view">Сохранить</button>
		</div>
	</div>

</div>