<div class="panel panel-default">

    <div class="panel-body">

		<div *ngIf="!edit">
			{{ meetingTask.content }}
			<div class="pull-right">			
				<a class="btn btn-primary btn-sm" (click)="onEdit()">Редактировать</a>
				<a class="btn btn-danger btn-sm" (click)="onDelete()">Удалить</a>
			</div>
		</div>

		<div *ngIf="edit">
			<div class="col-sm-9">
				<input type="text" [(ngModel)]="editValue" class="form-control">
			</div>
			<div class="col-sm-3">
				<a class="btn btn-info btn-sm" (click)="onUpdate()">Сохранить</a>
				<a class="btn btn-primary btn-sm" (click)="onCancel()">Назад</a>
			</div>
		</div>

	</div>

</div>