<div class="col-md-8 col-md-offset-2" *ngIf="!authService.loggedIn()">
    <div class="panel panel-default">
        <div class="panel-heading">Вход</div>
        <div class="panel-body">
            <form class="form-horizontal" #f="ngForm" (ngSubmit)="onLogin(f)">

                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">E-Mail адрес</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" required autofocus ngModel>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Пароль</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" required ngModel>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">
                            Войти
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>