<div class="col-md-8 col-md-offset-2" *ngIf="!authService.loggedIn()">
    <div class="panel panel-default">
        <div class="panel-heading">Регистрация</div>
        <div class="panel-body">
            <form class="form-horizontal" #f="ngForm" (ngSubmit)="onRegister(f)">

                <div class="form-group">
                    <label for="name" class="col-md-4 control-label">Имя</label>

                    <div class="col-md-6">
                        <input id="name" type="text" class="form-control" name="name" required autofocus ngModel>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">E-Mail адрес</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" required ngModel>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Пароль</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" required ngModel>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <div class="radio">
                            <label><input type="radio" name="role" value="3" ngModel checked="checked">Менеджер заказчика</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="role" value="2" ngModel>Менеджер группы разработки</label>
                        </div>
                    </div>
                </div>

<!--                 <div class="form-group">
                    <label for="password-confirm" class="col-md-4 control-label">Подтвердите пароль</label>

                    <div class="col-md-6">
                        <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required>
                    </div>
                </div> -->

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">
                            Зарегистрироваться
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>