<div class="panel panel-default">

    <div class="panel-body">
		<a [routerLink]="['project', project.id]">{{ project.name }}</a>
	</div>


	<div class="panel-footer" *ngIf="app.development()">
		<div *ngIf="edit">
			<input type="text" [(ngModel)]="editValue">
			<a class="btn btn-info btn-sm" (click)="onUpdate()">Сохранить</a>
			<a class="btn btn-primary btn-sm" (click)="onCancel()">Назад</a>
		</div>
		<div *ngIf="!edit">
			<a class="btn btn-primary btn-sm" (click)="onEdit()">Изменить название</a>
			<a class="btn btn-danger btn-sm" (click)="onDelete()">Удалить проект</a>
		</div>
	</div>

</div>