<div id="app">

	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" routerLink="">Project History</a>
	    </div>


	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
	            <li></li>
	        </ul>

	        <!-- Right Side Of Navbar -->
	        <ul class="nav navbar-nav navbar-right">

				<li class="dropdown" *ngIf="authService.loggedIn()">
	                <a class="dropdown-toggle btn" data-toggle="dropdown">
	                    {{ userName }} <span class="caret"></span>
	                </a>

	                <ul class="dropdown-menu">
	                    <li>
	                        <a class="btn" (click)="authService.logout()">Выход</a>
	                    </li>
	                </ul>
	            </li>


		        <li *ngIf="!authService.loggedIn()"><a routerLink="register">
		        	<span class="glyphicon glyphicon-user"></span> Регистрация</a>
		        </li>
		        <li *ngIf="!authService.loggedIn()"><a routerLink="login">
		        	<span class="glyphicon glyphicon-log-in"></span> Вход</a>
		        </li>

	        </ul>

	    </div>

	  </div>
	</nav>

	<div class="container">
		<div class="row">

			<router-outlet></router-outlet>

		</div>
	</div>
</div>