<div class="col-sm-12">
	<ol class="breadcrumb">
	  <li>Проекты</li>
	</ol>
</div>


<div class="col-sm-5">

	<div class="panel panel-primary" *ngIf="list">
	    <div class="panel-heading">
	        <h3 class="panel-title" *ngIf="app.development()">Добавить
		    	<a (click)="onCreate()">
		    		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		    	</a>
	    	</h3>
	    </div>
		<div class="panel-body">

		    <app-project *ngFor="let project of projects" [project]="project" (projectDelete)="onDelete($event)"></app-project>
		    
		</div>
	</div>

	<div class="panel panel-primary" *ngIf="create">
		<div class="panel-heading">
			Новый проект
		</div>
	    <div class="panel-body">
			<form #f="ngForm" (ngSubmit)="onSubmit(f)">
				<div class="form-group">
				  <label for="name">Введите название:</label>
				  <input type="text" class="form-control" id="name" name="name" ngModel>
				</div>
				<button class="btn btn-info btn-sm" type="submit">Создать</button>
				<button class="btn btn-default btn-sm" (click)="onCancel()">Назад</button>
			</form>
		</div>
	</div>

</div>


<div class="col-sm-7">
	<blockquote>
	  <p class="text-center" *ngIf="app.development()">Создайте новый проект или выберите из списка существующих.</p>
	  <p class="text-center" *ngIf="app.client()">Выберите проект из списка существующих или дождитесь пока Вас добавят в новый.</p>
	</blockquote>
	<br><img src="../../../project-history.jpg" class="center-block">
</div>