<div class="col-sm-12">
	<ol class="breadcrumb">
	  <li><a routerLink="">Проекты</a></li>
	  <li>{{ projectName }}</li>
	</ol>
</div>


<div class="col-md-6">
	<div class="panel panel-primary" *ngIf="!create">
	  <div class="panel-heading">
	    <h3 class="panel-title">Встречи
	    	<a *ngIf="app.development()">
	    		<span (click)="onCreate()" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	    	</a>
	    </h3>
	  </div>
	  <div class="panel-body">

	    <app-meeting *ngFor="let meeting of meetings" [meeting]="meeting"></app-meeting>

	  </div>
	</div>


	<div class="panel panel-primary" *ngIf="create">
		<div class="panel-heading">
			Новая встреча
		</div>
	    <div class="panel-body">			
			<div class="form-group">
				<label>Выберите дату</label>
			    <input type="date" class="form-control" name="name" [(ngModel)]="date" placeholder="2017-01-01">
			</div>
			<button class="btn btn-info btn-sm" (click)="createMeeting()">Создать</button>
			<button class="btn btn-default btn-sm" (click)="onCancel()">Назад</button>
		</div>
	</div>

</div>


<div class="col-sm-6">
	<div class="panel panel-default">

		<div class="panel-heading" *ngIf="app.development()">
			<a class="btn btn-primary" (click)="addUser()">Добавить участника в проект</a>
		</div>

		<div class="panel-heading" *ngIf="app.client()">
			Участники проекта
		</div>

		<div class="panel-body">

			<div *ngIf="userList && app.development()">
				<div class="form-group">
				  <label>Выберите пользователя:</label>

				  <ng2-completer [(ngModel)]="searchStr" [dataService]="dataService" [minSearchLength]="0" [placeholder]="'Введите имя'" [textSearching]="'Поиск...'" [textNoResults]="'Ничего не найдено.'"></ng2-completer>

				</div>
				<button class="btn btn-primary btn-sm" (click)="addValue()">Добавить</button>
				<button class="btn btn-default btn-sm" (click)="onCancel()">Отмена</button>
				<hr>
			</div>

			<ul class="list-group">
			  <li class="list-group-item" *ngFor="let user of userProject">
			    {{ user.name }}
				<a class="pull-right" (click)="deleteUser(user.id)" *ngIf="app.development()">
					Убрать из проекта
				</a>
			  </li>
			</ul>

		</div>
	</div>
</div>