<div class="bs-callout bs-callout-info">

  	<a [routerLink]="['/project', projectId, 'meeting', meeting.id]">{{ meeting.name }}</a>

  		<div class="pull-right" *ngIf="app.development()">
			<div *ngIf="edit">
				<input type="text" [(ngModel)]="editValue">
				<a class="btn btn-info btn-sm" (click)="onUpdate()">Сохранить</a>
				<a class="btn btn-primary btn-sm" (click)="onCancel()">Назад</a>
			</div>
			<div *ngIf="!edit">
				<a class="btn btn-primary btn-sm" (click)="onEdit()">Изменить дату</a>
				<a class="btn btn-danger btn-sm" (click)="onDelete()">Удалить встречу</a>
			</div>
		</div>

</div>